<% moment.locale('vi')%>
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>DExpress - Báo Mới &amp; Báo Doanh Nhân</title>
	<meta name="description" content>
	<meta name="keywords" content>
	<meta name="author" content>

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Bootstrap  -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css">

	<!-- Theme Style -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

	<!-- Colors -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/colors/color1.css" id="colors">
   
	<!-- Animation Style -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/animate.css">

	<!-- Google Fonts 
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>-->

	<!-- Favicon and touch icons  -->
	<link href="../icon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
	<link href="../icon/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
	<link href="../icon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
	<link href="../icon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
	<link href="../icon/logoKG.jpg" rel="shortcut icon">
	<link href="../font/fontawesome.min.css">
	<!--[if lt IE 9]><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/fontawesome.min.css" />
		<script src="../javascript/html5shiv.js"></script>
		<script src="../javascript/respond.min.js"></script>
	<![endif]-->
</head>

<body>
   	<!-- Header -->
   	<header id="header" class="header">
	   	<div class="top-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
		              	<div id="logo" class="logo">
							<a href rel="home" title="home">
								<img src="../images/logo.svg" alt="">
							</a>
						</div>
						
		            	<div class="follow-us">
			            	<div class="follow-title">
			            		Theo dõi chúng tôi
			            	</div>
			            	<ul class="social-links">
			            		<li class="facebook"><a href="https://www.facebook.com/duydeptrai120599/">Facebook</a></li>
			            	</ul>
						</div>
						
					</div>

		            <div class="col-md-5">
						<div class="btn-menu">
						</div><!-- //mobile menu button -->
			            	<div class="member-area">
								<div class="follow-us">
										<% if(infoUser){%>
											<div><span class="has-children" style="color: aliceblue;">Hello <%= infoUser.fullname %></span></div>
											<ul class="social-links">
												<nav id="mainnav" class="mainnav">
															<li class="content">
																<span class="login-popup"><a href="/users/edit-user/<%= infoUser._id %> ">Tài Khoản Của Tôi</a></span>
															</li>
															<li class="content">
																<span class="login-popup"><a href="/users/dang-xuat">Đăng Xuất</a></span>
															</li>
												</nav>
											</ul>
											<%}else{%>
												<span class="login-popup"><a href="/users/dang-nhap">Đăng Nhập</a></span>
												<span class="signup-popup"><a href="/users/dang-ky">Đăng Ký</a></span>
											<%} %>
											
										</div>
								</div>
					</div>
	            </div><!-- /.row -->
	         </div><!-- /.container -->
	   	</div><!-- /.top-wrap -->
		<div class="header-wrap">
		 <div class="container">
		    <div class="row">
				<div class="col-md-9">
					<nav id="mainnav" class="mainnav">
						<ul class="menu">
							<li><a href="/">Trang Chủ</a></li>	
							</li>
							<li class="has-children"><a href="#">Tất Cả</a>
								<% if(listTopic && listTopic.length){ %>
									<ul class="sub-menu">
									<%listTopic.forEach(item => { %>

										<li><a href="/topics/info-topic?topicID=<%=item._id%>"><%=item.name%></a>
										</li>
									<% })%>
									</ul><!-- /.submenu -->
                            	<% }%>
							</li>
							<li class="gn-mega-menu"><a href="category.html">Mới Nhất</a>
								<div class="sub-menu">
									<div class="container">
									<div class="row">
									<div class="col-md-12">
										<div class="mega-item-wrap">
											<% if(listPost && listPost.length){ %>
												<% for( let index = 0; index < 6; index++ ) { %>
												<div class="mega-item">
													<img src="../images/thumbs/11.jpg" alt="image">	
													<div class="content">
														<div class="date"><%=moment(listPost[index].createAt).startOf('hour').fromNow();%></div>
													</div>
													<h5><a href="/posts/info-post?postID=<%=listPost[index]._id%>"><%=listPost[index].name%></a></h5>
												</div>
											<% }%>
                            			<% }%>
										</div>
									</div>
									</div>
									</div>
								</div><!-- /.submenu -->
							</li>
							<% if(infoUser && infoUser.role == 1){ %>

								<li><a href="/dashboard">Dashboard</a></li>	
							</li>
							<% }%>

						</ul><!-- /.menu -->
					</nav><!-- /nav -->
				</div><!-- /.col-md-9 -->
				<div class="col-md-3">
					<div class="search-wrap">
						<div class="search-icon"></div><!-- //mobile search button -->
						<form action="#" id="searchform" class="search-form" method="get" role="search">
							<input type="text" id="s" placeholder="Search" class="search-field">
							<input type="submit" value="&#xf002;" id="searchsubmit" class="search-submit">
							<a class="search-close" href="#"><i class="fa fa-times-circle"></i></a>
						</form>
					</div><!-- /.search-wrap -->
				</div><!-- /.col-md-3 -->
		    </div><!-- /.row -->
		 </div><!-- /.container -->
		
		
		</div><!-- /.header-wrap -->
	</header>