<% moment.locale('vi')%>
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>DExpress - Báo Mới &amp; Báo Doanh Nhân</title>
	<meta name="description" content>
	<meta name="keywords" content>
	<meta name="author" content>

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Bootstrap  -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css">

	<!-- Theme Style -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

	<!-- Colors -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/colors/color1.css" id="colors">
   
	<!-- Animation Style -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/animate.css">

	<!-- Google Fonts 
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>-->

	<!-- Favicon and touch icons  -->
	<link href="../icon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
	<link href="../icon/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
	<link href="../icon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
	<link href="../icon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
	<link href="../icon/logoKG.jpg" rel="shortcut icon">
	<link href="../font/fontawesome.min.css">
	<link href="/build/toastr.min.css" rel="stylesheet"/>

	<!--[if lt IE 9]><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/fontawesome.min.css" />
		<script src="../javascript/html5shiv.js"></script>
		<script src="../javascript/respond.min.js"></script>
	<![endif]-->
</head>

<style>

.avatar img{
            width: 100px;
            height: auto;
            border-radius: 50%;
         }
</style>

<body>
   	<!-- Header -->
   	<header id="header" class="header">
	   	<div class="top-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
		              	<div id="logo" class="logo">
							<a href rel="home" title="home">
								<img src="../images/logo.svg" alt="">
							</a>
						</div>
						
		            	<div class="follow-us">
			            	<div class="follow-title">
			            		Theo dõi chúng tôi
			            	</div>
			            	<ul class="social-links">
			            		<li class="facebook"><a href="https://www.facebook.com/duydeptrai120599/">Facebook</a></li>
			            	</ul>
						</div>
						
					</div>
					<div class="col-md-4">
						<div class="search-wrap">
							<div class="search-icon"></div><!-- //mobile search button -->
							<form action="#" id="searchform" class="search-form" method="get" role="search">
								<input type="text" id="s" placeholder="Tìm kiếm" class="search-field">
							</form>
						</div><!-- /.search-wrap -->
					</div>
		            <div class="col-md-3-2">
							
						</div>
						<div class="btn-menu">
						</div><!-- //mobile menu button -->
			            	<div class="member-area">
								<div class="follow-us">
										<% if(infoUser){%>
											<div><span class="has-children" style="color: aliceblue;">Hello <%= infoUser.fullname %></span>  </div>
											<ul class="social-links">
												<nav id="mainnav" class="mainnav">
															<li class="content">
																<span class=""><a href="/users/info-user2/<%= infoUser._id %> ">Thông Tin Cá Nhân</a></span>
															</li>
															<li class="content">
																<span class=""><a href="/users/edit-user/<%= infoUser._id %> ">Chỉnh Sửa Thông Tin</a></span>
															</li>
															<% if(infoUser && infoUser.role == 1){ %>
																<li class="content">
																	<span class=""><a href="/dashboard2">Quản Lý Trang</a></span>
																</li>
															<% } %> 
															<li class="content">
																<span class=""><a href="/users/dang-xuat">Đăng Xuất&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i></a></span>
															</li>
												</nav>
											</ul>
											<%}else{%>
												<span class="login-popup"><a href="/users/dang-nhap">Đăng Nhập</a></span>
												<span class="signup-popup"><a href="/users/dang-ky">Đăng Ký</a></span>
											<%} %>
											
										</div>
								</div>
					</div>
	            </div><!-- /.row -->
	         </div><!-- /.container -->
	   	</div><!-- /.top-wrap -->
		<div class="header-wrap">
		 <div class="container">
			<div class="row">
				<div class="col-md-3">
					<nav id="mainnav" class="mainnav">
						<ul class="menu">
							<li><a href="/"><i class="fas fa-home"></i></a></li>	
							</li>
							<li class="gn-mega-menu"><a href="">HOT</a>
								<div class="sub-menu">
									<div class="container">
									<div class="row">
									<div class="col-md-12">
										<div class="mega-item-wrap">
											<% if(listPost && listPost.length){ %>
												<% listPost.slice(0,6).forEach((item, index) => { %>
												 
												<div class="mega-item">
													<a href="/posts/info-post?postID=<%= item._id%>"><img style="max-width : 80px ; max-height: 80px; " src="/images/news/<%=item.avatar %>" width="80px" height="80px	" alt="avatar"></a>
													<h5><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h5>
												</div>
												<% }) %>
                            			<% }%>
										</div>
									</div>
									</div>
									</div>
								</div><!-- /.submenu -->
							</li>
						</ul><!-- /.menu -->
					</nav><!-- /nav -->
				</div><!-- /.col-md-9 -->
				<div class="col-md-7">
					<nav id="mainnav" class="mainnav">
						<ul class="menu">
							<li><a href=""><%=moment().format('LLLL');%></a></li>
							<% if(listTopic && listTopic.length){ %>
								<%listTopic.slice(0, 4).forEach(item => { %>
									<li>
										<a href="/topics/info-topic?topicID=<%=item._id%>"><%=item.name%></a>
									</li>	
								<% })%>
							<% }%>
						</ul><!-- /.menu -->
						
					</nav><!-- /nav -->
				</div>
				<div class="col-md-2">
					<nav id="mainnav" class="mainnav">
						<ul class="menu">
							<li class="has-children"><a href="#">Tất Cả</a>
								<% if(listTopic && listTopic.length){ %>
									<ul class="sub-menu">
									<%listTopic.forEach(item => { %>
	
										<li><a href="/topics/info-topic?topicID=<%=item._id%>"><%=item.name%></a>
										</li>
									<% })%>
									</ul><!-- /.submenu -->
								<% }%>
							</li>

						</ul><!-- /.menu -->
						
					</nav><!-- /nav -->
				</div><!-- /.col-md-9 -->
				</div>
		 </div><!-- /.container -->
		
		
		</div><!-- /.header-wrap -->
	</header>