<% moment.locale('vi')%>
<%- include('../partials/header.ejs') %>
	<!-- Main -->
	<section id="main">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="featured-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
						<div class="content-left">
							<article class="post">
								<% if(listPost && listPost.length){ %>
									<% listPost.slice(0,1).forEach(item => { %>
									 
										<div class="thumb">
											<a href="/posts/info-post?postID=<%= item._id%>"><img src="/images/news/<%=item.avatar %>" width="1500px" height="1500px" alt="avatar"></a>
										</div>
										<div class="cat">
											<a href="/topics/info-topic?topicID=<%=item.topic._id%>"><%=item.topic.name%></a>
											
										</div>
										<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
										<p class=""><%-item.content.substring(0,142)%>...<span><a href="/posts/info-post?postID=<%= item._id%>">Xem thêm</a></span></p>
										<br>	
										<i class="far fa-eye"></i> <%= item.seen.length %> &nbsp; &nbsp;&nbsp;
											<i class="fas fa-comment-dots"></i>  <%= item.comments.length %>
									<% }) %>
                            	<% }%>
							</article><!--  /.post -->
						</div><!-- /.content-left -->
						<div class="content-right">
							<article class="post">
								<% if(listPost && listPost.length){ %>
									<% listPost.slice(1,2).forEach(item => { %>
									 
										<div class="thumb">
											<a href="/posts/info-post?postID=<%= item._id%>"><img src="/images/news/<%=item.avatar %>" width="230px" height="230px" alt="avatar"></a>
										</div>
										<div class="cat">
											<a href="/topics/info-topic?topicID=<%=item.topic._id%>"><%=item.topic.name%></a>
										</div>
										<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
										<p class=""><%-item.content.substring(0, 145)%>...<span><a href="/posts/info-post?postID=<%= item._id%>">Xem thêm</a></span></p>
										<br>	
										<i class="far fa-eye"></i> <%= item.seen.length %> &nbsp; &nbsp;&nbsp;
											<i class="fas fa-comment-dots"></i>  <%= item.comments.length %>
									<% }) %>
                            	<% }%>
							</article><!--  /.post -->
							<div class="content-right">
								
							</div>
							<article class="post">
								
								<% if(listPost && listPost.length){ %>
									<% listPost.slice(2,3).forEach(item => { %>
									 
										<div class="thumb">
											<a href="/posts/info-post?postID=<%= item._id%>"><img src="/images/news/<%=item.avatar %>" width="230px" height="230px" alt="avatar"></a>
										</div>
										<div class="cat">
											<a href="/topics/info-topic?topicID=<%=item.topic._id%>"><%=item.topic.name%></a>
										</div>
										<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
										<p class=""><%-item.content.substring(0,150)%>...<span><a href="/posts/info-post?postID=<%= item._id%>">Xem thêm</a></span></p>
										<br>	
										<i class="far fa-eye"></i> <%= item.seen.length %> &nbsp; &nbsp;&nbsp;
											<i class="fas fa-comment-dots"></i>  <%= item.comments.length %>
									<% }) %>
                            	<% }%>
							</article><!--  /.post -->
						</div><!-- /.content-right -->
					</div><!-- /.featured-posts -->
					<div class="popular-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
						<div class="gn-line"></div>
						<div class="section-title">
							<h4><a href="#">Bài Viết Nổi Bật</a></h4>
						</div>	
						<div class="content-left">
							<article class="post">
								<% if(listSpecialPost && listSpecialPost.length){ %>
									<% listSpecialPost.slice(0,1).forEach(item => { %>
									 
										<div class="thumb">
											<a href="/posts/info-post?postID=<%= item._id%>"><img src="/images/news/<%=item.avatar %>" alt="avatar"></a>
										</div>
										<div class="cat">
											<a href="/topics/info-topic?topicID=<%=item.topic._id%>"><%=item.topic.name%></a>
											
										</div>
										<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
										<p class=""><%-item.content.substring(0,30)%>...<span><a href="/posts/info-post?postID=<%= item._id%>">Xem thêm</a></span></p>
										<br>	
										<i class="far fa-eye"></i> <%= item.seen.length %> &nbsp; &nbsp;&nbsp;
											<i class="fas fa-comment-dots"></i>  <%= item.comments.length %>
									<% }) %>
                            	<% }%>
							</article><!--  /.post -->
						</div><!-- /.content-left -->
						<div class="content-right">
								<% if(listSpecialPost && listSpecialPost.length){ %>
									<% listSpecialPost.slice(1,7).forEach(item => { %>
										<article class="post">
											<div class="thumb">
												<a href="/posts/info-post?postID=<%= item._id%>"><img style="max-width : 80px ; max-height: 80px; " src="/images/news/<%=item.avatar %>" width="80px" height="80px	" alt="avatar"></a>
											</div>
											<div class="content">
												<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
												<div class="date"><%=moment(item.createAt).format('L');%></div>
											</div>
										</article><!--  /.post -->
									<% }) %>
                            	<% }%>
						</div><!-- /.content-right -->
					</div><!-- /.popular-posts -->
				</div><!-- /.col-md-8 -->
				<div class="col-md-4">
					<div class="sidebar-widget-1">
						<div class="widget widget-recent gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<h5 class="widget-title">Những Bài Viết Gần Đây</h5>
							<ul>
                            <% if(listPost && listPost.length){ %>
                            <% listPost.slice(8,14).forEach(item => { %>
							 
                                <li>
									<div class="thumb">
										<a href="/posts/info-post?postID=<%= item._id%>"><img style="max-width : 80px ; max-height: 80px; " src="/images/news/<%=item.avatar %>" width="80px" height="80px	" alt="avatar"></a>
									</div>
									<div class="content">
										<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
										<div class="date"><%=moment(item.createAt).startOf('hour').fromNow();%></div>
									</div>
								</li>
							<% }) %>

                            <% }%>
							</ul>
						</div><!-- /.widget-recent -->
						<div class="widget widget-ads gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<a href="#"><img src="../images/ad.jpg" alt="image"></a>
							<p class="text-ad">Advertisement</p>
						</div><!-- /.widget-ads -->
						<div class="widget widget-most-popular gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<h5 class="widget-title">5 Bài Viết Phổ Biến Nhất</h5>
							<ul>
								<%if (listPostTop5 || listPostTop5.length) {%>
									<% listPostTop5.forEach((item, index) => { %>
										<li>
											<div class="order"><%= index +1%></div>
										
											<p><a href="/posts/info-post?postID=<%= item._id %>"><%= item.name %></a></p>
										</li>
									<% }) %>
								<%} %>
								
							</ul>
						</div><!-- /.widget-popular -->
						<div class="widget widget-tabs gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<div class="tabs">
								<ul class="menu-tab">
									<li class="active"><a href="#">Nhận Xét</a></li>
								   	<li><a href="#">Xem Nhiều</a></li>
								   	<li><a href="#">Tags</a></li>
								</ul><!-- /.menu-tab -->
								<div class="content-tab">
								   	<div class="content">
										<% if(listPost && listPost.length){ %>
											<% listPost.slice(12,19).forEach(item => { %>
											<ul class="comments">
												<li>
													<div class="avatar">
														<a href="#"><img src="../images/user.jpg" alt="image"></a>
													</div>
													<p><a href="#">Duy</a> bình luận <a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a> 2 hours</p>
												</li>	
											<% }) %>
										<% }%>
											</ul>
								   	</div><!-- /.comments -->
								   	<div class="content">
										<% if(listTopView && listTopView.length){ %>
											<% listTopView.slice(0,6).forEach(item => { %>
												<ul class="pop-posts">
													<li>
														<div class="thumb">
															<a href="/posts/info-post?postID=<%= item._id%>"><img style="max-width : 80px ; max-height: 80px; " src="/images/news/<%=item.avatar %>" width="80px" height="80px	" alt="avatar"></a>
														</div>
														<div class="text">
															<a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a>
															<div class="date"><i><%=moment(item.createAt).format('L');%></i></div>
														</div>
													</li>
												</ul>
											<% }) %>
										<% }%>

								   	</div><!-- /.comments -->
								   	<div class="content">
										<div class="tags">
											<% if(listTopic && listTopic.length){ %>
												<% listTopic.slice(0,7).forEach(item => { %>
													<a href="/topics/info-topic?topicID=<%= item._id %> "><%= item.name %> </a>
												<% }) %>
											<% }%>
										</div>
								   	</div><!-- /.comments -->
								</div><!-- /.content-tab -->
							</div><!-- /.tabs -->
						</div><!-- /.widget-tabs -->
						<!-- <div class="widget widget-follow-us gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<h5 class="widget-title text-dark">Follow Us</h5>
							<div class="socials">
								<a class="facebook" href="fb.com/tothanhdat.ttd"><i class="fa fa-facebook"></i></a>
								<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
								<a class="google" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
								<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
							</div>
						</div> -->
						<div class="widget widget-tabs gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<div class="tabs">
								<ul class="menu-tab">
									<li class="active"><a href="#">Tác Giả</a></li>
								</ul><!-- /.menu-tab -->
								<div class="content-tab">
								   	<div class="content">
										<% if(listUser && listUser.length){ %>
											<% listUser.forEach(item => { %>
												<% if(item && item.role == 1){ %> 
													<ul class="comments">
														<li>
															<div class="avatar">
																<a href="#"><img src="/images/news/<%= item.avatar%>" width="70px" height="70px" alt="image"></a> <br>
															</div>
															<p><a><%= item.fullname %></a> <br> Nhà văn </p> 
														</li>	
													</ul>
												<% }%>
											<% }) %>
										<% }%>
								   	</div><!-- /.comments -->
								</div><!-- /.content-tab -->
							</div><!-- /.tabs -->
						</div>

						<%if( infoUser && infoUser.role == 1) { %> 
							<div class="widget widget-categories gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
								<h5 class="widget-title">Lưu Trữ</h5>
								<ul class="cat-list">
									<%if (listPost && listPost.length) {%>
										<a href="/posts/postT7">Tháng 7 2020<span>(<%= listPost.slice(0,10).length %>)</span></a> <hr>
										<a href="/posts/postT6">Tháng 6 2020<span>(<%= listPost.slice(10,20).length %>)</span></a>
									<%}%>
								</ul>
							</div><!-- /.widget-categories -->
						<% } %> 
					</div><!-- /.sidebar -->
				</div><!-- /.col-md-4 -->
				<div class="col-md-6">
					<div class="gn-line"></div>
					<h4>ĐỪNG BỎ LỠ</h4>
				    <div class="gnSlider gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
				        <div class="flex-container">
				            <div class="flexslider loading">
				                <ul class="slides">
									<% if(listPost && listPost.length){ %>
										<% listPost.slice(14,18).forEach(item => { %>
										<li>
											<div class="item-wrap">
												<a href="/posts/info-post?postID=<%= item._id%>"><img style="max-width : 700px ; max-height: 700px; " src="/images/news/<%=item.avatar %>" width="750px" height="450px" alt="avatar"></a>
												<p class="item" data-bottomtext="0"><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></p>
											</div>
										</li>
										<% }) %>
									<% }%>
				                </ul>
				            </div>
				        </div>
				    </div><!-- /.gnSlider -->
				</div>
				<div class="col-md-12">
					<div class="trending-posts">
						<div class="gn-line"></div>
						<div class="section-title">
							<h4><a href="#">Xu Hướng</a></h4>
						</div>
						<div class="one-fourth gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<article class="post first">
								<% if(listPost && listPost.length){ %>
									<%listPost.slice(9,10).forEach(item => {%>
										<div class="thumb">
											<a href="/posts/info-post?postID=<%= item._id%>"><img style="max-width : 250px ; max-height: 250px; " src="/images/news/<%=item.avatar %>" width="300px" height="300px	" alt="avatar"></a>
										</div>
											<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
										<% }) %>
								<% }%>
							</article><!--  /.post -->
							<% if(listPost && listPost.length){ %>
								<%listPost.slice(10,14).forEach(item => {%>
									<article class="post">
										<div class="date"><%=moment(item.createAt).format('LL');%></div>
										<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
									</article><!--  /.post -->
								<% }) %>
							<% }%>
							&nbsp;&nbsp;&nbsp;
							<% if(listPost && listPost.length){ %>
								<%listPost.slice(10,11).forEach(item => {%>
										<div class="cat">
											<a href="/topics/info-topic?topicID=<%=item.topic._id%>"><%=item.topic.name%></a>
										</div>
								<% }) %>
							<% }%>
						</div>
						<div class="one-fourth gn-animation" data-animation="fadeInUp" data-animation-delay="0.4s" data-animation-offset="75%">
							<article class="post first">
								<% if(listPost && listPost.length){ %>
									<%listPost.slice(13,14).forEach(item => {%>
										<div class="thumb">
											<a href="/posts/info-post?postID=<%= item._id%>"><img style="max-width : 250px ; max-height: 250px; " src="/images/news/<%=item.avatar %>" width="300px" height="300px	" alt="avatar"></a>
										</div>
											<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
										<% }) %>
								<% }%>
							</article><!--  /.post -->
							<% if(listPost && listPost.length){ %>
								<%listPost.slice(14,18).forEach(item => {%>
									<article class="post">
										<div class="date"><%=moment(item.createAt).format('LL');%></div>
										<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
									</article><!--  /.post -->
								<% }) %>
							<% }%>
							&nbsp;&nbsp;&nbsp;
							<% if(listPost && listPost.length){ %>
								<%listPost.slice(14,15).forEach(item => {%>
										<div class="cat">
											<a href="/topics/info-topic?topicID=<%=item.topic._id%>"><%=item.topic.name%></a>
										</div>
								<% }) %>
							<% }%>
						</div>
						<div class="one-fourth gn-animation" data-animation="fadeInUp" data-animation-delay="0.2s" data-animation-offset="75%">
							<article class="post first">
								<% if(listPost && listPost.length){ %>
									<%listPost.slice(0,1).forEach(item => {%>
										<div class="thumb">
											<a href="/posts/info-post?postID=<%= item._id%>"><img style="max-width : 250px ; max-height: 250px; " src="/images/news/<%=item.avatar %>" width="300px" height="300px	" alt="avatar"></a>
										</div>
											<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
										<% }) %>
								<% }%>
							</article><!--  /.post -->
							<% if(listPost && listPost.length){ %>
								<%listPost.slice(1,4).forEach(item => {%>
									<article class="post">
										<div class="date"><%=moment(item.createAt).format('LL');%></div>
										<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
									</article><!--  /.post -->
								<% }) %>
							<% }%>
							&nbsp;&nbsp;&nbsp;
							<% if(listPost && listPost.length){ %>
								<%listPost.slice(1,2).forEach(item => {%>
										<div class="cat">
											<a href="/topics/info-topic?topicID=<%=item.topic._id%>"><%=item.topic.name%></a>
										</div>
								<% }) %>
							<% }%>
						</div>
						
						<div class="one-fourth last gn-animation" data-animation="fadeInUp" data-animation-delay="0s" data-animation-offset="75%">
							<article class="post first">
								<% if(listPost && listPost.length){ %>
									<%listPost.slice(4,5).forEach(item => {%>
										<div class="thumb">
											<a href="/posts/info-post?postID=<%= item._id%>"><img style="max-width : 250px ; max-height: 250px; " src="/images/news/<%=item.avatar %>" width="300px" height="300px	" alt="avatar"></a>
										</div>
											<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
										<% }) %>
								<% }%>
							</article><!--  /.post -->
							<% if(listPost && listPost.length){ %>
								<%listPost.slice(5,7).forEach(item => {%>
									<article class="post">
										<div class="date"><%=moment(item.createAt).format('LL');%></div>
										<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
									</article><!--  /.post -->
								<% }) %>
							<% }%>
							<% if(listPost && listPost.length){ %>
								<%listPost.slice(18,19).forEach(item => {%>
									<article class="post">
										<div class="date"><%=moment(item.createAt).format('LL');%></div>
										<h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
									</article><!--  /.post -->
								<% }) %>
							<% }%>
							&nbsp;&nbsp;&nbsp;
							<% if(listPost && listPost.length){ %>
								<%listPost.slice(18,19).forEach(item => {%>
										<div class="cat">
											<a href="/topics/info-topic?topicID=<%=item.topic._id%>"><%=item.topic.name%></a>
										</div>
								<% }) %>
							<% }%>
						</div>
					</div><!-- /.trending-posts -->
					<div class="gn-line"></div>
				</div><!-- /.col-md-12 -->
				<div class="col-md-8">
				</div><!-- /.col-md-8 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
<%- include('../partials/footer.ejs') %>

	