<% moment.locale('vi')%>
<%- include('../partials/header.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
    <div class="relate-posts">
        <div class="section-title">
            <h4><a href="#">Những Bài Viết Trong (Tháng 6)</a></h4>
        </div>
        <div class="post-wrap">
            <article class="item-news full-thumb">
                <div class="post thumb-art">
                    <% if(listPost && listPost.length){ %>
                        <% listPost.slice(9,20).forEach(item => { %>
                        
                                <h3><a href="/posts/info-post?postID=<%=item._id%>"><%=item.name%></a></h3>
                                <span>
                                    <div class="date"><%=moment(item.createAt).format('LL');%></div>
                                </span>
                        <% }) %>
                    <% }%>
                </div>
            </article>
        </div>
    </div>
    </div><!-- /.relate-posts -->
    </div>
</div>
    <div class="relate-posts">
    </div>
<%- include('../partials/footer.ejs') %>
    