<% moment.locale('vi')%>
<style>
    .comment-text img{
        width: 50px;
        height: auto;
        border-radius: 50%;
    }
    .comment-text .date{
        margin-left: 65px;
        margin-top: 0px;
    }
    #btnDeleteComment{
        margin-left:65px;
    }
   
    
</style>
<%- include('../partials/header.ejs') %>
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="post-wrap posts post-single">
                        <article class="post">
                            <div class="head-post">
                                <h2><%=infoPost.name%></h2>
                                <p><%-infoPost.content%></p>
                                <div class="meta">
                                    <span class="author">Viết bơi : Tác Giả  <a href=""></a></span>
                                </div>
                                 <div class="helpful like-post-action">
                                 <% if(infoUser) {%>
                                    <% if (infoPost.like.includes(infoUser._id)) {%>
                                        <a class="like like-post" id="un-like-post" _postID ="<%=infoPost._id%>" href="#">Bỏ thích </a>
                                        <%}else{%>
                                        <a class="like like-post" id="like-post" _postID ="<%=infoPost._id%>" href="#">Thích </a>
                                        <%}%>
                                        <p >Lượt like: <span id="totalLike"><%= infoPost.like.length %></span> </p>
                                <%}%>
                                </div>
                            </div><!-- /.head-post -->
                            <div class="body-post">
                               
                                <div class="main-post">
                                    <div class="entry-post">
                                    
                                        </div><!-- /.entry-post -->
                                    <!-- <div class="help-post">
                                        <div class="helpful">
                                            <a class="like" href="#">I found this helpful </a>
                                            <a class="dislike" href="#">I did not find this helpful</a>
                                        </div> -->
                                        <!-- <div class="tags">
                                            <a href="#">Startups</a>
                                            <a href="#">Technology</a>
                                            <a href="#">Millions of dollars</a>
                                            <a href="#">Paul Graham</a>
                                        </div> -->
                                    </div>
                                    <!-- <div class="author-post">
                                        <div class="avatar-author">
                                            <img src="images/author.jpg" alt="image">
                                        </div>
                                        <div class="info-author">
                                            <h4>Angela Snow</h4>
                                            <p>John is an American Graphic &amp; Web Designer, Pixel &amp; CSS lover, WordPress &amp; coffee addict. He loves UI and UX design for mobile and web apps.</p>
                                        </div>
                                    </div> -->
                                    
                                    <div class="comment-post">
                                        <div class="comments-list">
                                            <h4 class="title">Bình Luận</h4>
                                            <ul class="ul-comment">
                                                <li>
                                                <% if( listComment && listComment.length ){%>
                                                    <%listComment.forEach(item => {%>
                                                        <% if (item.post._id.toString() == infoPost._id.toString()) { %>
                                                        <article class="comment">
                                                            <div class="comment-text">
                                                                <img style="max-width:40px; max-height:40px" src="../images/news/<%= item.author.avatar %>"  alt=""> &nbsp;&nbsp;
                                                                <span ><%= item.author.fullname %></span>
                                                                <p style="margin-left: 70px;" class="comment-body"><%= item.content %> </p style="margin-left: 30px;">
                                                                <div class="comment-head">
                                                                    <div class="date"><%=moment(item.createAt).startOf('hour').fromNow();%></div>
                                                                </div>
                                                                <% if (item.author._id.toString() == infoUser._id.toString()) { %>
                                                                    <a id="btnDeleteComment" _postID="<%=item.post._id%>" _commentID="<%=item._id%>" href="">Xóa</a>
                                                                <% } %>
                                                                <div class="helpful like-post-action">
                                                                    <% if(infoUser) {%>
                                                                       <% if (infoPost.like.includes(infoUser._id)) {%>
                                                                           <a class="like like-post" id="un-like-post" _postID ="<%=infoPost._id%>" href="#">Bỏ thích </a><span id="totalLike"><%= infoPost.like.length %></span>
                                                                           <%}else{%>
                                                                           <a class="like like-post" id="like-post" _postID ="<%=infoPost._id%>" href="#">Thích </a><span id="totalLike"><%= infoPost.like.length %></span>
                                                                           <%}%>
                                                                   <%}%>
                                                                   </div>
                                                                <br>
                                                            </div>   
                                                        </article><!-- /.comment -->
                                                        <% } %>
                                                    <%})%>
                                                <%} %>
                                                </li>
                                            </ul>              
                                        </div><!-- /.comments-list -->
                                        <% if (infoUser) { %>
                                        <div id="respond" class="comment-respond">
                                            <form class="comment-form" id="comment-form" method="post" action="#">
                                                <div id ="fullname-author"  _fullname="<%=infoUser.fullname%>" class="message-comment">
                                                    <textarea  tabindex="4" placeholder="<%=infoUser.fullname%> nhập bình luận..." name="input-comment" id="input-comment" required=""></textarea>
                                                </div>
                                                <div class="submit-comment">
                                                    <button type="submit" class="btn btn-primary btnAddComment" _userID="<%= infoUser._id %>" _avatar="<%= infoUser.avatar %>"  _postID ="<%=infoPost._id%>">Gửi</button>
                                                </div>
                                            </form><!-- /.comment-form -->
                                        </div><!-- /#respond -->
                                        <% } else { %>
                                            <p>Bạn Phải <a href="/users/dang-nhap">Đăng Nhập</a> Để Bình Luận</p> <br>
                                        <% } %>
                                    </div><!-- /.comment-post -->
                                    <div class="relate-posts">
                                        <div class="section-title">
                                            <h4><a href="#">Đọc Những Bài Viết Tiếp Theo</a></h4>
                                        </div>
                                        <div class="post-wrap">
                                            <article class="item-news full-thumb">
                                                <div class="post thumb-art">
                                                    <% if(listPost && listPost.length){ %>
                                                        <% listPost.slice(1,8).forEach(element => { %>
                                                         
                                                                <h3><a href="/posts/info-post?postID=<%=element._id%>"><%=element.name%></a></h3>
                                                                <span>
                                                                    <%-element.content.substring(0,20)%>
                                                                </span>
                                                        <% }) %>
                                                    <% }%>
                                                </div>
                                            </article>
                                        </div>
                                    </div><!-- /.relate-posts -->
                                </div><!-- /.main-post -->
                            </div><!-- /.body-post -->
                        </article><!-- /.post -->
                    </div><!-- /.post-wrap -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
<%- include('../partials/footer.ejs') %>

<script>
   
    // $(document).on('click', '#btnComment', function(e) {
	// 	e.preventDefault();
        
    //     let postID = $(this).attr('_postID');
    //     let content = $('#inputComment').val();
    //     let author = $('#commentname').val();
        
    //     $.ajax({
    //         url: `/comment/add-comment`,
    //         method: 'POST',
    //         data: { examID, content },
    //         success: resp => {  
    //             let infoComment = resp.data
    //             //console.log({ infoComment })
    //             if(!resp.error){
    //                 $('.panel-body .comment').append(`
    //                     <div class="comment-panel">
    //                         <img src="../lttnpy_core/images/logo_new.png" alt="logo">
    //                         <br>
    //                         <p>${author}</p>
    //                         <p style="font-size: 10px; color: gray">${moment(infoComment.createAt).startOf('minutes').fromNow()}</p>
    //                         <p>${content}</p>
    //                         <a id="btnDeleteComment" _examID="${examID}" _commentID="${infoComment._id}" href="">Xóa</a>
    //                         <br>
    //                     </div>
    //                 `)
    //                 $('#inputComment').val('')
    //             }else{
    //                 return toastr['error']('FAIL', 'Thông báo');
    //             }
    //         },
    //         error: err => console.log({ err })
    //     });
    // })

    $(document).on('click', '.like-post', function(e) {
		e.preventDefault();
        let postID = $(this).attr("_postID");
        let totalLike = $('#totalLike').text();
        console.log({ postID, totalLike })
        $.ajax({
            url: `/posts/like-post?postID=${postID}`,
            method: 'GET',
            success: resp => {
                if(!resp.error){
                    $(this).empty();
                    $('.like-post-action').prepend(`
                        <a class="like" id="un-like-post" _postID ="${postID}" href="#"> Bỏ thích</a>
                    `)
                    $('#totalLike').text(parseInt(totalLike) + 1);
                    return toastr['success']('Đã thích bài viết', 'Thông báo');
                }else{
                    return toastr['error']('Thất bại', 'Thông báo');
                }
            },
            error: err => console.log({ err })
        });
    })

    $(document).on('click', '#un-like-post', function(e) {
		e.preventDefault();
        let postID = $(this).attr("_postID");
        let totalLike = $('#totalLike').text();
        console.log({ postID, totalLike })
        $.ajax({
            url: `/posts/un-like-post?postID=${postID}`,
            method: 'GET',
            success: resp => {
                if(!resp.error){
                    $(this).empty();
                    $('.like-post-action').prepend(`
                        <a class="like like-post" id="like-post" _postID ="${postID}" href="#">Thích </a>
                    `)
                    $('#totalLike').text(parseInt(totalLike) - 1);
                    return toastr['success']('Đã bỏ thích bài viết', 'Thông báo');
                }else{
                    return toastr['error']('Thất bại', 'Thông báo');
                }
            },
            error: err => console.log({ err })
        });
    })

    //Thêm bình luận
    $(document).on('click', '.btnAddComment', function(e) {
		e.preventDefault();
        let postID = $(this).attr("_postID");
        let userID = $(this).attr("_userID");
        let content = $('#input-comment').val();
        let fullname = $('#fullname-author').attr('_fullname');
        let _avatar = $(this).attr("_avatar");
        console.log({ fullname, content, userID, _avatar })

        if(!content){
         toastr.warning('Bạn cần phải nhập thêm nội dung','Nhập Thêm')
        }
        else{
            $.ajax({
                url: `/comments/add-comment?postID=${postID}&content=${content}`,
                 method: 'GET',
                    success: resp => {
                        let infoComment = resp;
                        if(!resp.error){
                            $('.comments-list').append(`
                            <ul>
                                <li>
                                        <article class="comment">
                                        <div class="comment-text">
                                            <img style="max-width:40px; max-height:40px" src="../images/news/${_avatar}" alt="">&nbsp;&nbsp;
                                            <span>${fullname}</span>
                                            <p style="margin-left: 70px;" class="comment-body">${content} </p>
                                            <div class="comment-head">
                                                <div class="date">Vừa xong</div>
                                            </div>
                                            <a id="btnDeleteComment" _postID="${postID}" _commentID="${infoComment.infoComment.data._id}" href="">Xóa</a>
                                            <br>
                                        </div>   
                                    </article><!-- /.comment -->
                                </li>
                            </ul>
                            `)
                            $('#input-comment').val('')
                            return toastr['success']('OK', 'Thông báo');
                        }else{
                            return toastr['warning']('Bạn phải đăng nhập mới được bình luận', 'Thông báo');
                        }
                    },
                    error: err => console.log({ err })
                });
                    
            }
           
        })

        $(document).on('click', '#btnDeleteComment', function(e) {
		e.preventDefault();
        let commentID = $(this).attr('_commentID');
        let postID = $(this).attr('_postID');
        $.ajax({
            url: `/comments/remove-comment?commentID=${commentID}&postID=${postID}`,
            method: 'get',
            success: resp => {
                console.log({ resp })
                if(!resp.error){
                    $(this).closest('.comment').empty();
                    return toastr['success']('Xóa thành công', 'Thông báo');
                }else{
                    return toastr['error']('Xóa thất bại', 'Thông báo');
                }
            },
            error: err => console.log({ err })
        });
    })
 
 </script>