<% moment.locale('vi')%>
<%- include('../partials/header.ejs') %>
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="post-wrap posts post-single">
                        <article class="post">
                            <div class="head-post">
                                <h2><%=infoPost.name%></h2>
                                <p><%-infoPost.content%></p>
                                <div class="meta">
                                    <span class="author">By <a href=""></a></span>
                                </div>
                                 <div class="helpful">
                                    <a class="like" id="like-post" _postID ="<%=infoPost._id%>" href="#">Tôi thích bài viết này </a>
                                    <p>Lượt like: 24 </p>
                                    <a class="dislike" id="un-like-post" href="#">Tôi không thích bài viết này</a>
                                    <p>Lượt dislike: 1 </p>
                                </div>
                            </div><!-- /.head-post -->
                            <div class="body-post">
                               
                                <div class="main-post">
                                    <div class="entry-post">
                                    
                                        </div><!-- /.entry-post -->
                                    <!-- <div class="help-post">
                                        <div class="helpful">
                                            <a class="like" href="#">I found this helpful </a>
                                            <a class="dislike" href="#">I did not find this helpful</a>
                                        </div> -->
                                        <!-- <div class="tags">
                                            <a href="#">Startups</a>
                                            <a href="#">Technology</a>
                                            <a href="#">Millions of dollars</a>
                                            <a href="#">Paul Graham</a>
                                        </div> -->
                                    </div>
                                    <!-- <div class="author-post">
                                        <div class="avatar-author">
                                            <img src="images/author.jpg" alt="image">
                                        </div>
                                        <div class="info-author">
                                            <h4>Angela Snow</h4>
                                            <p>John is an American Graphic &amp; Web Designer, Pixel &amp; CSS lover, WordPress &amp; coffee addict. He loves UI and UX design for mobile and web apps.</p>
                                        </div>
                                    </div> -->
                                    
                                    <div class="comment-post">
                                        <div class="comments-list">
                                            <h4 class="title">Bình Luận</h4>
                                            <ul>
                                                <li>
                                                <% if( infoPost.comments && infoPost.comments.length ){%>
                                                    <%infoPost.comments.forEach( item => {%>
                                                        <article class="comment">
                                                        <!-- <div class="comment-order">1</div> -->
                                                        <!-- <div class="avatar">
                                                            <img src="images/user.jpg" alt="image">
                                                        </div> -->
                                                        <div class="comment-text">
                                                            
                                                            <p class="comment-body"><%= item.content %></p>
                                                            <div class="comment-head">
                                                            <div class="date"><%=moment(item.createAt).startOf('hour').fromNow();%></div>
                                                            </div>
                                                        </div>   

                                                    </article><!-- /.comment -->
                                                    <%})%>
                                                    
                                                <%} %>
                                                    
                                                </li>
                                                <div class="author"><%= listUser.fullname %></div>
                                                
                                            </ul>                                  
                                        </div><!-- /.comments-list -->
                                        <div id="respond" class="comment-respond">
                                            <form class="comment-form" id="comment-form" method="post" action="#">
                                                <div class="message-comment">
                                                    <textarea tabindex="4" placeholder="Nhập bình luận..." name="comment" id="comment" required=""></textarea>
                                                </div>
                                                <div class="submit-comment">
                                                    <button type="submit" class="send-btn btnSend">Gửi</button>
                                                </div>
                                            </form><!-- /.comment-form -->
                                        </div><!-- /#respond -->
                                    </div><!-- /.comment-post -->
                                    <div class="relate-posts">
                                        <div class="section-title">
                                            <h4><a href="#">Đọc Những Bài Viết Tiếp Theo</a></h4>
                                        </div>
                                        <div class="post-wrap">
                                            <article class="item-news full-thumb">
                                                <div class="post thumb-art">
                                                    <% if(listPost && listPost.length){ %>
                                                        <% for( let index = 1; index < 6; index++ ) { %>
                                                                <h3><a href="/posts/info-post?postID=<%=listPost[index]._id%>"><%=listPost[index].name%></a></h3>
                                                                <span>
                                                                    <%-listPost[index].content.substring(0,73)%>
                                                                </span>
                                                        <% } %>
                                                    <% }%>
                                                </div>
                                            </article>
                                        </div>
                                    </div><!-- /.relate-posts -->
                                    <div class="recommend-posts">
                                        <div class="section-title">
                                            <h4><a href="#">Recommended for You</a></h4>
                                        </div>
                                        <div class="post-wrap">
                                            <article class="post">
                                                <div class="thumb">
                                                    <a href="#"><img src="images/thumbs/7.jpg" alt="img"></a>
                                                </div>
                                                <div class="cat">
                                                    <a href="">Social media</a>
                                                </div>
                                                <h3><a href="#">Like all back-of-the-envelope calculations, this one has a lot of wiggle room.</a></h3>
                                                <div class="activity">
                                                    <span class="views">12</span><span class="comment"><a href="#">0</a></span>
                                                </div>
                                            </article><!-- /.post -->
                                            <article class="post margin-b0 last">
                                                <div class="thumb">
                                                    <a href="#"><img src="images/thumbs/7.jpg" alt="img"></a>
                                                </div>
                                                <div class="cat">
                                                    <a href="">Social media</a>
                                                </div>
                                                <h3><a href="#">Like all back-of-the-envelope calculations, this one has a lot of wiggle room.</a></h3>
                                                <div class="activity">
                                                    <span class="views">12</span><span class="comment"><a href="#">0</a></span>
                                                </div>
                                            </article><!-- /.post -->
                                        </div>
                                    </div><!-- /.recommend-posts -->
                                </div><!-- /.main-post -->
                            </div><!-- /.body-post -->
                        </article><!-- /.post -->
                    </div><!-- /.post-wrap -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
<%- include('../partials/footer.ejs') %>

<script>
   
    // $(document).on('click', '#btnComment', function(e) {
	// 	e.preventDefault();
        
    //     let examID = $(this).attr('_examID');
    //     let content = $('#inputComment').val();
    //     let author = $('#commentname').val();
        
    //     $.ajax({
    //         url: `/comment/add-comment`,
    //         method: 'POST',
    //         data: { examID, content },
    //         success: resp => {  
    //             let infoComment = resp.data
    //             //console.log({ infoComment })
    //             if(!resp.error){
    //                 $('.panel-body .comment').append(`
    //                     <div class="comment-panel">
    //                         <img src="../lttnpy_core/images/logo_new.png" alt="logo">
    //                         <br>
    //                         <p>${author}</p>
    //                         <p style="font-size: 10px; color: gray">${moment(infoComment.createAt).startOf('minutes').fromNow()}</p>
    //                         <p>${content}</p>
    //                         <a id="btnDeleteComment" _examID="${examID}" _commentID="${infoComment._id}" href="">Xóa</a>
    //                         <br>
    //                     </div>
    //                 `)
    //                 $('#inputComment').val('')
    //             }else{
    //                 return toastr['error']('FAIL', 'Thông báo');
    //             }
    //         },
    //         error: err => console.log({ err })
    //     });
    // })

    $(document).on('click', '#like-post', function(e) {
		e.preventDefault();
        let postID = $(this).attr("_postID");
        console.log({ postID })
        $.ajax({
            url: `/posts/like-post/${postID}`,
            method: 'POST',
            success: resp => {
                if(!resp.error){
                    return toastr['success']('Đã thích bài viết', 'Thông báo');
                }else{
                    return toastr['error']('Thất bại', 'Thông báo');
                }
            },
            error: err => console.log({ err });
        });
    })

    $(document).on('click', '#un-like-post', function(e) {
		e.preventDefault();
        let postID = $(this).attr("_postID");
        console.log({ postID })
        $.ajax({
            url: `/posts/un-like-post/${postID}`,
            method: 'POST',
            success: resp => {
                if(!resp.error){
                    return toastr['success']('Đã thích bài viết', 'Thông báo');
                }else{
                    return toastr['error']('Thất bại', 'Thông báo');
                }
            },
            error: err => console.log({ err });
        });
    })
 
 </script>