<% moment.locale('vi')%>
<%- include('../partials/header.ejs') %>
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="highlights-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
						<div class="gn-line"></div>
						<div class="section-title">
                            <h4><a href="#"><%=infoTopic.name%></h4>
						</div>
                        <article class="post">
                            <% if(infoTopic.posts && infoTopic.posts.length){ %>
                                <% for( let index = infoTopic.posts.length - 1; index > infoTopic.posts.length - 2; index-- ) { %>
                                    <div class="thumb">
                                        <a href="#"><img src="../images/thumbs/fa3.jpg" alt="img"></a>
                                    </div>
                                    <div class="cat">
                                        <a href><%=infoTopic.name%></a>
                                    </div>
                                        <h3><a href="/posts/info-post?postID=<%=infoTopic.posts[index]._id%>"><%=infoTopic.posts[index].name%></a></h3>
                                    <div class="activity">
                                        <span class="views"><%= infoTopic.posts[index].seen.length %></span>
                                        <span class="comment"><a href="#"><%= infoTopic.posts[index].comments.length %></a></span>
                                    </div>
                                <% } %>
                            <% }%>
						</article><!--  /.post -->
						<article class="post last">
                            <% if(infoTopic.posts && infoTopic.posts.length){ %>
                                <% for( let index = infoTopic.posts.length - 2; index > infoTopic.posts.length - 3; index-- ) { %>
                                    <div class="thumb">
                                        <a href="#"><img src="../images/thumbs/fa2.jpg" alt="img"></a>
                                    </div>
                                    <div class="cat">
                                        <a href><%=infoTopic.name%></a>
                                    </div>
                                        <h3><a href="/posts/info-post?postID=<%=infoTopic.posts[index]._id%>"><%=infoTopic.posts[index].name%></a></h3>
                                    <div class="activity">
                                        <span class="views"><%= infoTopic.posts[index].seen.length %></span>
                                        <span class="comment"><a href="#"><%= infoTopic.posts[index].comments.length %></a></span>
                                    </div>
                                <% } %>
                            <% }%>
						</article><!--  /.post -->
						<article class="post">
                            <% if(infoTopic.posts && infoTopic.posts.length){ %>
                                <% for( let index = infoTopic.posts.length - 3; index > infoTopic.posts.length - 4; index-- ) { %>
                                    <div class="thumb">
                                        <a href="#"><img src="../images/thumbs/fa1.jpg" alt="img"></a>
                                    </div>
                                    <div class="cat">
                                        <a href><%=infoTopic.name%></a>
                                    </div>
                                        <h3><a href="/posts/info-post?postID=<%=infoTopic.posts[index]._id%>"><%=infoTopic.posts[index].name%></a></h3>
                                    <div class="activity">
                                        <span class="views"><%= infoTopic.posts[index].seen.length %></span>
                                        <span class="comment"><a href="#"><%= infoTopic.posts[index].comments.length %></a></span>
                                    </div>
                                <% } %>
                            <% }%>
						</article><!--  /.post -->
						<article class="post margin-b0 last">
                            <% if(infoTopic.posts && infoTopic.posts.length){ %>
                                <% for( let index = infoTopic.posts.length - 4; index > infoTopic.posts.length - 5; index-- ) { %>
                                    <div class="thumb">
                                        <a href="#"><img src="../images/thumbs/fa4.jpg" alt="img"></a>
                                    </div>
                                    <div class="cat">
                                        <a href><%=infoTopic.name%></a>
                                    </div>
                                        <h3><a href="/posts/info-post?postID=<%=infoTopic.posts[index]._id%>"><%=infoTopic.posts[index].name%></a></h3>
                                    <div class="activity">
                                        <span class="views"><%= infoTopic.posts[index].seen.length %></span>
                                        <span class="comment"><a href="#"><%= infoTopic.posts[index].comments.length %></a></span>
                                    </div>
                                <% } %>
                            <% }%>
						</article>
					</div>
                </div>
                <div class="col-md-4">
					<div class="sidebar-widget-1">
						<div class="widget widget-recent gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<h5 class="widget-title">Có thể bạn quan tâm</h5>
							<ul>
                            <% if(infoTopic.posts && infoTopic.posts.length){ %>
                                <% for( let index = infoTopic.posts.length - 5; index > infoTopic.posts.length - 10; index-- ) { %>
                                    <li>
                                        <div class="thumb">
                                            <a href="/posts/info-post?postID=<%=infoTopic.posts[index]._id%>"><img src="../images/thumbs/sad.jpg" alt="img"></a>
                                        </div>
                                        <div class="content">
                                            <h3><a href="/posts/info-post?postID=<%=infoTopic.posts[index]._id%>"><%=infoTopic.posts[index].name%></a></h3>
                                            <div class="date"><%=moment(infoTopic.posts[index].createAt).startOf('hour').fromNow();%></div>
                                        </div>
                                    </li>
                                <% }%>
                            <% }%>
							</ul>
						</div><!-- /.widget-recent -->
					</div><!-- /.sidebar -->
				</div>
            </div>
        </div>
    </section>
<%- include('../partials/footer.ejs') %>
